.App {
  width: 90%;
  border: 2px solid black;
  border-radius: 20px;
  background: #fff;
  padding: 0 20px 20px;
  font-family: monospace;
  margin: 0 auto;
}

body {
  background: #def;
  margin: 8px 0;
}

.hourlyForecastContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hourlyPeriod {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 10px;
}
