html,
body,
#root,
.app {
  height: 100vh;
  width: 100vw;
}

body {
  background: rgb(238, 252, 255);
  background: linear-gradient(
    180deg,
    rgba(238, 252, 255, 1) 0%,
    rgba(203, 234, 250, 1) 35%,
    rgba(127, 208, 254, 1) 85%
  );

  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: scroll;
}

.App {
  font-family: 'DM Sans', sans-serif;
  width: 70vw;
  margin: 3em auto;
  border: 1px solid #ddd;
  border-radius: 20px;
  background: #fff;
  padding: 0 4em 2em;
  box-shadow: 5px 5px 15px rgba(127, 208, 254, 1);
}
.App h1 {
  font-size: 2.5em;
  margin: 0;
  text-align: center;
  margin: 1em;
}

.hourlyForecastContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hourlyPeriod {
  display: flex;
  background: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  width: 8em;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 3px;
}
.hourlyPeriod p {
  margin-block-end: 0.25em;
  margin-block-start: 0.25em;
  line-height: 1em;
  margin: 3px 5px;
}
.hourlyPeriod p:first-child {
  font-size: 1.5em;
  font-weight: bold;
  color: #999;
}
